<!DOCTYPE html>
<html>
    <head>
        <title>CryptoNode - Messenger</title>

        <!-- Meta -->
        <meta charset="utf-8" />
        <meta name="description" content="An SSL and AES-256 encrypted chat/file/voice/video messenger." />
        <meta name="author" content="Supernomad - Christian Saide" />
        <meta name="application-name" content="CryptoNode" />
        <meta name="keywords" content="Encrypted,Chat,Node.js,AES,AES-256,Messenger,SSL,Video Chat,Voice Chat" />

        <!-- Script Library Includes -->
        <!-- Ember libs -->
        <script type="text/javascript" src="/Scripts/Libs/jquery-2.0.1.js"></script>
        <script type="text/javascript" src="/Scripts/Libs/handlebars-1.0.0-rc.4.js"></script>
        <script type="text/javascript" src="/Scripts/Libs/ember-1.0.0-rc.4.js"></script>
        <script type="text/javascript" src="/Scripts/Libs/ember-validations.js"></script>
        <!-- CryptoJS libs -->
        <script type="text/javascript" src="/Scripts/Libs/aes.js"></script>
        <script type="text/javascript" src="/Scripts/Libs/pbkdf2.js"></script>
        <!-- Socket-io lib -->
        <script type="text/javascript" src="/Scripts/Libs/socket.io.js"></script>
        <!-- moment lib -->
        <script type="text/javascript" src="/Scripts/Libs/moment.js"></script>

        <!-- Style/Icon Includes -->
        <link rel="shortcut icon" href="/Images/favicon.ico" />
        <link rel="stylesheet" href="/Styles/Client.css" />
    </head>
    <body>
        <!-- Custom Scripts -->
        <script type="text/javascript" src="/Scripts/Client.js"></script>
        <!-- Ember Application -->

        <!-- Main application template -->
        <script type="text/x-handlebars">
            {{outlet}}
        </script>

        <!-- Index template -->
        <script type="text/x-handlebars" id="index">
            <div class="cont">
            	<div class="start">
                    <img src="/Images/logo.png" height="50" width="300" title="CryptoNode" alt="Cryptonode"/>
                    <div class="left">
                        <h3>A SSL and AES-256 secured messenger application.</h3>
                        <div>
                            <p>This application utilizes SSL/TLS to encrypt web socket communication to and from the server. It then uses AES-256 ciphers to encrypt each individual message, file and/or voice stream before it is sent over the SSL connection. The AES-256 cipher seceret key is never known to the server or ever leaves the client memory.</p>
                            <p>This will not protect against keyloggers or malicious people you may be talking to with this application. Nothing is completely secure, however this is a tool that is here for anyone to use. The idea is to promote internet freedom and to keep the last bits of our web privacy.</p>
                            <p>The application is planned to be deployed into a TOR hidden service to increase annonymity between users. This will be done on the first public release of the application.</p>
                        </div>
                    </div>
                    <div class="right">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <h3>Create or Join a new Node.</h3>
                                    </th>
                                </tr>
                            </thead>
                            <tr>
                                <td>
                                    <label for="">Username:</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{view 'App.UserInfoTextField' valueBinding='username' autofocus='autofocus'}}
                                </td>
                            </tr>
                            {{#if errors.username}}
                                <tr>
                                    <td class="isValid">
                                        {{errors.username}}
                                    </td>
                                </tr>
                            {{/if}}
                            <tr>
                                <td>
                                    <label for="">Node:</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{view 'App.UserInfoTextField' valueBinding='roomname'}}
                                </td>
                            </tr>
                            {{#if errors.roomname}}
                                <tr>
                                    <td class="isValid">
                                        {{errors.roomname}}
                                    </td>
                                </tr>
                            {{/if}}
                            <tr>
                                <td>
                                    <label for="">Password:</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{view 'App.UserInfoTextField' type='password' valueBinding='roompassword'}}
                                </td>
                            </tr>
                            {{#if errors.roompassword}}
                                <tr>
                                    <td class="isValid">
                                        {{errors.roompassword}}
                                    </td>
                                </tr>
                            {{/if}}
                            <tr>
                                <td>
                                    <button {{action 'startNew'}}>Start</button>
                                </td>
                            </tr>
                        </table>
                    </div>
            	</div>
            </div>
        </script>

        <!-- Main chat template -->
        <script type="text/x-handlebars" id="chat">
            <img class="logo" src="/Images/logo.png" height="50" width="300"/>
            <div class="side">
                <ul>
                    <li>
                        {{partial "userlist"}}
                    </li>
                </ul>
                <div>
                    <img src="/Images/Icons/disconnect.png" height="36" width="36" alt="disconnect" title="Disconnect" {{action 'disconnect'}}/>
                    {{#if status}}
                        <img src="/Images/Icons/here.png" height="36" width="36" alt="status" title="Toggle Status" {{action 'changeStatus' target='controller'}}/>
                    {{else}}
                        <img src="/Images/Icons/away.png" height="36" width="36" alt="status" title="Toggle Status" {{action 'changeStatus' target='controller'}}/>
                    {{/if}}
                </div>
            </div>
            <div class="main">
                {{partial "chatlist"}}
            </div>
            <div class="input" >
                {{view 'App.MessageTextField' valueBinding='newMessage' id='newMsg' autofocus="autofocus"}}
                <div><img src="/Images/Icons/send.png" height="36" width="36" {{action 'sendChat' }}"/></div>
            </div>
        </script>

        <!-- User list chat parital -->
        <script type="text/x-handlebars" id="_userlist">
            <strong>Users:</strong>
            <ul id="userList">
                {{#each 'user' in 'currentRoom.users'}}
                    {{#view 'App.UserListView' contextBinding='user' userIdBinding='user.id'}}
                        <div>   
                            <strong>{{name}}</strong>
                            {{#if status}}
                                <img class="status" src="/Images/Icons/green.png" height="16" width="16" alt="Send File" title="{{unbound name}} is available" style="float:left"/>
                            {{else}}
                                <img class="status" src="/Images/Icons/orange.png" height="16" width="16" alt="Send File" title="{{unbound name}} is away" style="float:left"/>
                            {{/if}}
                            <img src="/Images/Icons/attach.png" height="20" width="20" alt="Send File" title="Send a file to {{unbound name}}" {{action toggleFileUp target='view'}} />
                            <img src="/Images/Icons/mic.png" height="20" width="20" alt="Voice Chat" title="Start voice chat with {{unbound name}}" />
                        </div>
                        <div class="fileUp">
                            <input type="file" />
                            <button {{action startFileSend target='view'}}>Send File</button>
                        </div>
                        {{#view 'App.DownloadView' class='fileDown' viewName='downloadView'}}
                            <a name="download" href="" download="" style="visibility:hidden"></a>
                            <span name="label"></span>
                            <button name="accept" {{action 'acceptDownload' target='view'}}>Accept</button>
                            <button name="deny" {{action 'denyDownload' target='view'}}>Deny</button>
                        {{/view}}
                    {{/view}}
                {{/each}}
            </ul>
        </script>

        <!-- Message list chat partial -->
        <script type="text/x-handlebars" id="_chatlist">
            <ul id="chatList" >
                {{#each message in currentRoom.messages}}
                    {{#view 'App.ChatListView'}}
                        {{#unless message.fromServer}}
                            <strong>{{message.name}}:</strong>
                        {{/unless}}
                        <p>{{message.message}}</p>
                        <em>{{timeForm message.postedAt timeBinding='currentTime'}}</em>                    
                    {{/view}}
                {{/each}}
            </ul>
        </script>
    </body>
</html>