body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 0;
    font-family: 'OCR A Std';
    font-size: 14px;
    background: #878787;
    min-height: 600px;
    min-width: 800px;
}

button {
    background-color: rgba(0,0,0,.5);
    border: 1px solid #00cc00;
    color: #00cc00;
    padding: 4px 10px;
}

ul {
    list-style: none;
    padding: 0;
    border: none;
    margin: 0;
}

.glow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 300px;
    width: 730px;
    border-radius: 70px;
    -webkit-box-shadow: 0px 0px 60px rgba(0, 204, 0, .75);
    -moz-box-shadow: 0px 0px 60px rgba(0, 204, 0, .75);
    box-shadow: 0px 0px 60px rgba(0, 204, 0, .75);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 300px;
    width: 650px;
}

    .back:after {
        position: absolute;
        top: 0;
        left: -40px;
        content: '';
        overflow: hidden;
        height: 0;
        width: 0;
        border-left: 40px solid transparent;
        border-bottom: 40px solid #525252;
    }

    .back:before {
        position: absolute;
        bottom: 0;
        left: -40px;
        content: '';
        overflow: hidden;
        height: 0;
        width: 0;
        border-right: 40px solid #525252;
        border-bottom: 40px solid transparent;
    }

.back2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 300px;
    width: 650px;
}

    .back2:after {
        position: absolute;
        top: 0;
        right: -40px;
        content: '';
        overflow: hidden;
        height: 0;
        width: 0;
        border-right: 40px solid transparent;
        border-bottom: 40px solid #525252;
    }

    .back2:before {
        position: absolute;
        bottom: 0;
        right: -40px;
        content: '';
        overflow: hidden;
        height: 0;
        width: 0;
        border-left: 40px solid #525252;
        border-bottom: 40px solid transparent;
    }

.cut-off {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #00cc00;
    text-align: center;
    vertical-align: auto;
    height: 300px;
    width: 650px;
    background: #525252;
}

    .cut-off:after {
        position: absolute;
        top: 40px;
        left: -40px;
        bottom: 40px;
        content: '';
        overflow: hidden;
        width: 40px;
        background-color: #525252;
    }

    .cut-off:before {
        position: absolute;
        top: 40px;
        right: -40px;
        bottom: 40px;
        content: '';
        overflow: hidden;
        width: 40px;
        background-color: #525252;
    }

    .cut-off img.help {
        position: absolute;
        top: 20px;
        left: 0;
        cursor: pointer;
        float: left;
    }

    .cut-off span {
        display: block;
    }

.isValid {
    color: red;
    text-align: left;
}

.chatCont {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 25px;
    margin: 0;
    padding: 0;
}

#main {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 75%;
    border: none;
    margin: 0;
    background-color: #525252;
}

.chatList {
    position: absolute;
    top: 40px;
    right: 40px;
    left: 20px;
    bottom: 90px;
    margin: 0;
    border: 2px solid #00cc00;
    overflow: auto;
}

    .chatList li {
        padding: 1.25em;
    }

    .chatList strong {
        color: #00cc00;
        text-transform: capitalize;
    }

    .chatList em {
        color: lightgray;
        font-size: .75em;
    }

    .chatList p {
        color: white;
        margin: .25em .5em .25em 1.5em;
    }

.newMessage {
    position: absolute;
    bottom: 40px;
    height: 40px;
    left: 20px;
    right: 40px;
}

    .newMessage img {
        position: absolute;
        top: 0;
        border: 2px solid #00cc00;
    }

        .newMessage img.right {
            border-left: none;
            right: 0;
            cursor: pointer;
        }

        .newMessage img.left {
            border-right: none;
            left: 0;
        }

    .newMessage input {
        position: absolute;
        top: 0;
        left: 40px;
        bottom: 0;
        right: 40px;
        margin: 0;
        font-size: 15px;
        font-family: 'OCR A Std';
        color: lightgray;
        padding-left: 10px;
        background-color: transparent;
        border: 2px solid #00cc00;
        border-left: none;
        border-right: none;
    }

        .newMessage input:focus {
            outline: none;
        }

#side {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25%;
    border: none;
    margin: 0;
    background-color: #525252;
}

.userList {
    position: absolute;
    top: 40px;
    bottom: 90px;
    right: 20px;
    left: 40px;
    padding: 1.25em;
    border: 2px solid #00cc00;
}

    .userList div.main {
        display: block;
        margin: 5px 0 0 0;
        vertical-align: middle;
        padding: 0;
        height: 30px;
        color: #00cc00;
    }

        .userList div.main strong {
            float: left;
            padding: 0;
            margin: 10px 0 0 0;
            font-size: 15px;
            vertical-align: bottom;
            text-transform: capitalize;
        }

        .userList div.main img {
            float: right;
            margin: 0 5px 0 0;
            cursor: pointer;
        }

            .userList div.main img.status {
                float: left;
                margin: 5px;
            }

    .userList div.fileDown {
        display: none;
    }

    .userList div.fileUp {
        display: none;
        margin: 5px;
    }

.fileUp progress {
    width: 100%;
    margin: 10px 0;
}

.appControls {
    position: absolute;
    bottom: 40px;
    right: 20px;
    left: 40px;
    height: 36px;
}

    .appControls img {
        cursor: pointer;
    }
