body {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    min-width: 800px;
    min-height: 600px;
    border: none;
    background: rgb(24,24,24);
    padding: 0;
    margin: 0;
}

em {
    font-size: .75em;
}

img {
    cursor: hand;
    cursor: pointer;
}

p {
    margin-top: .5em;
    margin-bottom: .5em;
}

h3 {
    margin-top: 1em;
    margin-bottom: 1em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

.cont {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
}

.start {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:550px;
    width: 700px;
    margin: auto;
    padding: 0;
    background: rgb(107, 107, 107);
    -webkit-box-shadow: 4px 4px 9px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 4px 4px 9px rgba(50, 50, 50, 0.75);
    box-shadow: 4px 4px 9px rgba(50, 50, 50, 0.75);
}
.start img{
    
    position:absolute;
    top:10px;
    left:200px;
    right:200px;
    height:50px;
}
    .start input {
        width: 200px;
    }

    .start button {
        width: 205px;
    }

    .start > div {
        position: absolute;
        top: 60px;
        bottom: 0;
        width: 44%;
        margin: 0;
        padding: 3%;
    }

div.left {
    left: 0;
}

    div.left div{
        margin-bottom:1em;
    }

div.right {
    right: 0;
}

    div.right table {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        height: 270px;
        width: 270px;
        text-align:center;
        margin: auto;
        padding: 15px;
    }

.bShadow {
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

.logo {
    position: absolute;
    top: 5px;
    left: 0;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 300px;
}

.side {
    position: absolute;
    top: 55px;
    left: 0;
    bottom: 0;
    width: 300px;
}

    .side > ul {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 54px;
        padding: 0 10px 10px 10px;
        padding-top: 0;
        overflow: auto;
    }

        .side > ul > li {
            background: white;
            padding: 10px;
        }

            .side > ul > li > ul {
                margin: 10px 0 0 0;
            }

                .side > ul > li > ul > li {
                    background: white;
                    border: 1px solid black;
                    padding: 5px;
                    margin: 5px 0 10px 0;
                    -webkit-box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.75);
                    -moz-box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.75);
                    box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.75);
                }

                    .side > ul > li > ul > li div {
                        display: block;
                        margin: 0;
                        padding: 0;
                        vertical-align:central
                    }

                    .side > ul > li > ul > li div img{
                        float:right;
                        margin:0 2px;
                    }


    .side > div {
        position: absolute;
        bottom: 5px;
        right: 0;
        left: 11px;
        height: 42px;
    }

        .side > div > img {
            float: left;
            padding: 0;
            border: none;
            margin: 3px 2px;
        }

.main {
    position: absolute;
    top: 55px;
    right: 0;
    bottom: 44px;
    left: 300px;
}

    .main ul {
        position: absolute;
        top: 0px;
        bottom: 10px;
        left: 10px;
        right: 10px;
        overflow: auto;
        padding: 10px;
        background: white;
        border: 1px solid black;
    }

        .main ul li {
            padding: 5px;
            margin: 10px 0;
            background: white;
            border: 1px solid black;
            -webkit-box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.75);
            -moz-box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.75);
            box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.75);
        }

            .main ul li:first-child {
                margin-top: 0;
            }

            .main ul li p {
                margin-left: 20px;
                margin-top: .25em;
                margin-bottom: .25em;
            }

.input {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 300px;
    height: 42px;
}

    .input input {
        position: absolute;
        top: -5px;
        left: 11px;
        right: 53px;
        bottom: 0;
        height: 40px;
        margin: 0;
        background: white;
        color: black;
        border: none;
        padding-left: 10px;
    }

    .input div {
        position: absolute;
        background: white;
        top: -5px;
        bottom: 0;
        right: 11px;
        width: 42px;
        height: 42px;
    }

    .input img {
        padding: 0;
        border: none;
        margin: 3px;
    }

.settings{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    padding:0;
    background:black;
}